p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

h1, h2{
	background: firebrick;
	width: 100%;
	color: white;
	padding:10px;
	line-height: 1em;
	font-size: 14px;
}
